# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.classpath
项目代码/QAFour/.project
*.jsdtscope
项目代码/QAFour/.settings/org.eclipse.jdt.core.prefs
*.class
项目代码/QAFour/build/classes/QAFour.cfg.xml
项目代码/QAFour/.springBeans
*.prefs
项目代码/QAFour/.settings/org.eclipse.wst.common.component
项目代码/QAFour/.settings/org.eclipse.wst.jsdt.ui.superType.container
*.name
项目代码/QAFour/.settings/org.eclipse.wst.common.project.facet.core.xml
项目代码/QAFour/build/classes/applicationContext.xml
*.lock
项目代码/.metadata/.log
*.zip
项目代码/.metadata/.plugins/org.eclipse.cdt.core/.log
*.snap
项目代码/.metadata/.plugins/org.eclipse.core.resources/.projects/QAFour/org.eclipse.egit.core/GitProjectData.properties
*.properties
项目代码/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.index
项目代码/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
*.fnm
*.nrm
*.frq
*.project
项目代码/.metadata/version.ini
*.log
项目代码/.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
项目代码/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
*.fdt
*.fdx
项目代码/.metadata/.plugins/org.jboss.tools.usage/events/jbt-installed-HIBERNATE
项目代码/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
项目代码/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
项目代码/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
*.tis
项目代码/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
*.tii
*.gen
项目代码/.metadata/.plugins/org.eclipse.core.resources/.history/11/90e0632ce83800161579f33abff4988e
项目代码/.metadata/.plugins/org.eclipse.core.resources/.history/15/40701978e83800161579f33abff4988e
项目代码/.metadata/.plugins/org.eclipse.core.resources/.history/1e/e0659c55e83800161579f33abff4988e
项目代码/.metadata/.plugins/org.eclipse.core.resources/.history/2f/50822b03e83800161579f33abff4988e
项目代码/.metadata/.plugins/org.eclipse.core.resources/.history/33/e08754f6e53800161579f33abff4988e
项目代码/.metadata/.plugins/org.eclipse.core.resources/.history/31/80bf88fce73800161579f33abff4988e
项目代码/.metadata/.plugins/org.eclipse.core.resources/.history/5c/a0d87765e83800161579f33abff4988e
项目代码/.metadata/.plugins/org.eclipse.m2e.core/nexus/af051161bbefb0c3069c98b3b22c1426/_0.cfs
*.setup
项目代码/.metadata/.plugins/org.eclipse.m2e.core/nexus/af051161bbefb0c3069c98b3b22c1426/segments_2
*.cfs
项目代码/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
*.js
项目代码/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
项目代码/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
*.txt
项目代码/.metadata/.plugins/org.eclipse.wst.server.core/tmp-data.xml
项目代码/.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
项目代码/.metadata/.plugins/org.jboss.tools.usage/events/central-showOnStartup-N%2FA
项目代码/.metadata/.plugins/org.eclipse.core.resources/.history/e7/40babccee53800161579f33abff4988e
*.policy
*.xmi
项目代码/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
项目代码/Servers/Tomcat v8.0 Server at localhost-config/web.xml
*.json
项目代码/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
项目代码/.metadata/.plugins/org.jboss.tools.usage/events/bf555fdb-0399-3a84-9301-663431a73d5f
项目代码/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
项目代码/Servers/Tomcat v8.0 Server at localhost-config/server.xml
项目代码/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
项目代码/.metadata/.plugins/org.jboss.tools.usage/events/6f760cb5-a326-3289-819b-f78379d4d2f1
*.dat
项目代码/Servers/Tomcat v8.0 Server at localhost-config/tomcat-users.xml
项目代码/Servers/Tomcat v8.0 Server at localhost-config/context.xml
项目代码/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
项目代码/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
项目代码/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
